node_modules
*.log
*.zip
.nuxt
nuxt.d.ts
.output
.env
.env.staging
*Zone.Identifier
.app/public/shiki/themes/*.json
.app/public/shiki/languages/*.json
.app/public/shiki/dist/*.wasm
!.app/public/shiki/themes/cssninja-dark-theme.json
!.app/public/shiki/themes/cssninja-light-theme.json
